.footer {
  &-big,
  &-small {
    color: @white;
  }

  &-big {
    background-color: @primary-light;
    height: 500px;
  }

  &-small {
    background-color: @primary;
    padding: 20px 0;

    > p {
      margin: 0;
    }
  }
}
