.header {
  padding: 175px 0 ;

  .intro {
    margin: 0px auto;

    h1 {
      > span {
        color: @primary;
      }
    }
  }
}

@media (min-width: 576px) {
  .header {
    .intro {
      h1 {
        font-size: 35px;
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    .intro {
      h1 {
        font-size: 45px;
      }
    }
  }
}
@media (min-width: 992px) {
  .header {
    .intro {
      h1 {
        font-size: 55px;
      }
    }
  }
}
